.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.xls*
*.png
*.sql
*.numbers
*.Rproj
*.dcf
!player-id-map.csv
!New-website-players-unmapped.csv
!team_email_addresses.csv
!Snooker-Results-pages-per-season.csv
!New-website-match-scores.csv
!New-website-frame-scores.csv
!New-website-breaks.csv
!Old-website-frame-scores.csv
!missing-scorecards.csv
!Old-website-match-scores.csv
!Player-ratings-output.csv
!player-record-summary.csv
!head-to-head-summary.csv
!Frame-scores.csv
!Billiards*.csv
!Snooker-Competitions-Results-pages-per-season.csv